@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.logo {
  height: 30px;
  margin-right: 8px;
}

header {
  width: 100%;
  position: sticky;
  height: 80px;
  top: 0;
  z-index: 100;
}

.logotype {
  padding: 0 20px 0 20px;
  cursor: pointer;
  letter-spacing: 1px;
}
.logotype h4 {
  font-family: "Pacifico", cursive;
}

nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: white;
  overflow-x: hidden;
}

.logotype {
  flex-shrink: 0;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
nav li {
  margin: 0 15px 0 15px;
  flex-shrink: 0;
  cursor: pointer;
  font-size: 15px;
}

.navbarSpacer {
  flex-grow: 1;
}

@media (max-width: 1100px) {
  nav li {
    font-size: 13px;
    margin: 0 10px 0 0px;
  }
}

@media (max-width: 950px) {
  nav li {
    font-size: 10px;
    margin: 0 5px 0 0px;
  }
}

@media (max-width: 769px) {
  .logo {
    height: 28px;
    margin-right: 5px;
    margin-top: 15px;
  }
  .logotype h4 {
    font-size: 22px !important;
  }

  .navigation {
    display: none;
  }
  .logotype {
    padding: 0;
  }

  .navbarSpacer {
    display: none;
  }
}

@media (min-width: 770px) {
  .toolbar__toggle-button {
    display: none;
  }
}
