.email {
  text-align: center;
  padding-top: 70px;
  background-color: #eee;
}

.email input {
  font-size: 18px;
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.email button {
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  border: 0;
  margin-top: 20px;
  margin-bottom: 100px;
  background: rgb(255, 23, 110);
  color: white;
  width: 240px;
}

.email_message {
  margin-bottom: 30px;
  font-style: italic;
}
.email_message2 {
  font-size: 2rem;
  font-family: "Pacifico", cursive;
  margin-bottom: 40px;
}
.email_message3 {
  font-size: 18px;
  margin-bottom: 40px;
}
.email_options {
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: left;
}

.email_options label {
  font-size: 18px;
}
.email_options input {
  margin-bottom: 10px;
}
