.footer {
  display: flex;
  background-color: #623f4c;
  /* 623f4c */
  align-content: space-between;
  color: white;

  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 40px;
}
.footer ul {
  list-style: none;
  line-height: 1.45rem;
  padding: 0;
  position: relative;
}
.footer ul li,
.footer ul li strong {
  font-size: 16px;
}
.footer ul li a {
  color: white;
}
.spacer {
  flex-basis: 150px;
  flex-shrink: 8;
}
i {
  margin-right: 15px;
  font-style: normal;
}
.drop {
  height: 70px;
  position: absolute;
  left: 150px;
  top: -20px;
}

.fa-map-marker-alt {
  position: relative;
  right: 7px;
  font-size: 18px;
}
.fa-phone-alt {
  position: relative;
  right: 5px;
  font-size: 18px;
}

.services {
  flex-shrink: 0;
}
ul.services {
  line-height: 1.65rem;
}
.services li:first-child {
  position: relative;
  left: 40px;
}
.services-headline {
  margin-bottom: 15px;
}
.services-headline h3 {
  font-size: 19px;
}
.footer-logo {
  flex-grow: 1;
  text-align: center;
}
.footer-logo img {
  height: 300px;
}

.contact {
  text-align: right;
}

ul.contact h3 {
  margin-bottom: 22px;
  position: relative;
  top: 3px;
  font-size: 19px;
}

.mailto span {
  letter-spacing: 1px;
}

@media only screen and (max-width: 1100px) {
  .footer {
    flex-direction: column;
    align-items: stretch;
    height: auto;
    padding-top: 40px;
  }

  ul.services {
    margin-bottom: 60px;
    margin-top: 30px;
  }
  ul.contact {
    margin-top: 40px;
  }

  .footer > ul {
    padding: 0 45px 0 45px;
  }
  .spacer {
    flex-basis: 0px;
  }
}
