.thankyou {
  padding: 40px;
  width: 350px;
  background: #fffd6f;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  text-align: center;
  border-radius: 5px;
  position: absolute;
  display: none;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.thankyou.open {
  display: block;
  opacity: 1;
}

.thankyou div {
  font-family: "Pacifico", cursive;
  font-size: 34px;
  margin-bottom: 20px;
}
