.toggle {
  min-width: 50px;
  height: 30px;
  border-radius: 50px;
  margin-right: 15px;
  /* background-image: linear-gradient(aqua, skyblue); */
  background-image: linear-gradient(rgb(47, 65, 122), rgb(69, 69, 172));
  position: relative;
  cursor: pointer;
}

.toggle.en {
  background-image: linear-gradient(rgb(69, 69, 172));
}

.notch {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: #fffd6f;
  position: absolute;
  top: 2px;
  left: 4px;
  transition: all 0.3s ease;
}

.en > .notch {
  background-color: rgb(255, 23, 110);
  transform: translate(19px, 0);
}

.label {
  font-size: 15px;
  font-weight: bold;
  position: relative;
  bottom: 29px;
  left: 0px;
  color: #623f4c;
}
